broker-service/brokerApp
front-end/frontApp
authentication-service/authApp
logger-service/loggerServiceApp
mail-service/mailerApp
listener-service/listenerApp

.DS_Store

project/db-data/mongo/*
project/db-data/postgres/*
project/db-data/rabbitmq/*
